<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		{{ title_for_layout }}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Le styles -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<style>
	body {
		padding-top: 70px; /* 70px to make the container go all the way to the bottom of the topbar */
	}
	.affix {
		position: fixed;
		top: 60px;
		width: 220px;
	}
  .msg {
    padding: 10px;
  }
	</style>

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

{{ _view.fetch('meta')|raw }}
{{ _view.fetch('css')|raw }}
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				{{ html.link('TOP', "/", {
					class: 'navbar-brand',
				})|raw }}
			</div>

			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li>{{ html.link('Signup', {
						controller: 'auth',
						action: 'signup',
					})|raw }}</li>
					<li>{{ html.link('Login', {
						controller: 'auth',
						action: 'login',
					})|raw }}</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
    {{ session.flash('flash', { params: {class: 'msg bg-info' }})|raw }}
    {{ session.flash('error', { params: {class: 'msg bg-danger' }})|raw }}
    {{ session.flash('auth', { params: {class: 'msg bg-info' }})|raw }}

		{{ _view.fetch('content')|raw }}

	</div><!-- /container -->

	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="//google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
{{ _view.fetch('script')|raw }}

</body>
</html>
